{
  "presets": [
    "react",
    "stage-0",
    "es2015"
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-async-to-generator",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-es2015-duplicate-keys",
    "transform-es2015-modules-commonjs",
    "transform-exponentiation-operator",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }

}
